<div id="<%= dom_id budget %>">
  <p>
    <strong>Month:</strong>
    <%= budget.month %>
  </p>

  <p>
    <strong>Balance:</strong>
    <%= budget.balance %>
  </p>

  <p>
    <strong>Budget amount:</strong>
    <%= budget.budget_amount %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= budget.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= budget.end_date %>
  </p>

  <p>
    <strong>Rollover:</strong>
    <%= budget.rollover %>
  </p>

</div>
