<div id="<%= dom_id budget %>">
  <p>
    <strong>Month:</strong>
    <%= budget.month %>
  </p>
  <table>
    <tr>
      <th>Budget Item</th>
      <th>Budget Amount</th>
      <th>Budget Balance</th>
      <th>Status</th>
      <th>Budget Type</th>
    </tr>
    <% budget.categories.each do |c|%>
    <tr>
      <td><%= c.name %></td>
      <td><%= c.budget_amt %></td>
      <td><%= c.current %></td>
      <td><%= c.status ? c.status : 'None' %></td>
      <td><%= c.budget_type ? c.budget_type : 'None' %></td>
    </tr>
    <%end%>
  </table>

  <p>
    <strong>Balance:</strong>
    <%= budget.categories.map(&:current).sum %>
  </p>

  <p>
    <strong>Budget amount:</strong>
    <%= budget.categories.map(&:budget_amt).sum %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= budget.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= budget.end_date %>
  </p>

  <p>
    <strong>Rollover:</strong>
    <%= budget.rollover %>
  </p>

</div>
