<head>
  <title>Connect a bank</title>
</head>
<body>
<h1>Welcome <%=@user_id%></h1>
<table>
    <tr>
        <th>Financial Account Name</th>
        <th>Financial Account ID</th>
    </tr>
    <% @credentials.each do |c| %>
    <tr>
        <td><%= link_to "#{c.institution_name}", c %></td>
        <td><%= c.institution_id%></td>
    </tr>
    <%end%>
</table>

<button id='linkButton'> Add New Financial Institution </button>
<button id='txnButton'> Get Transactions </button>
<button id='acctButton'> Get Accounts </button>
<%= link_to 'See Accounts', accounts_path %>
<%= link_to 'See Transactions', transactions_path %>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
async function get_token(){
    let x = await fetch('/create_link_token', {method: "post"})
    let data = await x.json()
    let linkHandler = Plaid.create({
    token: data.link_token,
    onSuccess: async function (public_token, metadata){
        // Send the public_token to your app server.
        const response = await fetch(`/exchange_public_token/${public_token}`, {
            method: "post"
        });
        return response
    }
    })
    linkHandler.open();
} 

document.getElementById('linkButton').onclick = function() {
    get_token()
};

async function get_transactions(){
    let p = window.location.pathname.split('/').reverse()[0]
    const things = await fetch(`/sync_transactions/${p}`, {
        headers: {
            "content-type": "application/json"
        },
        method: "get"
    })
    console.log('got data!')
    const response = await things.json()
    console.log('converted!')
    console.log("response:", response)
} 

document.getElementById('txnButton').onclick = function() {
    get_transactions()
};
async function get_accounts(){
    let p = window.location.pathname.split('/').reverse()[0]
    const things = await fetch(`/get_balances/${p}`, {
        headers: {
            "content-type": "application/json"
        },
        method: "get"
    })
    console.log('got data!')
    const response = await things.json()
    console.log('converted!')
    console.log("response:", response)
} 

document.getElementById('acctButton').onclick = function() {
    get_accounts()
};
</script>


</body>