<head>
  <title>Connect a bank</title>
</head>
<body>
<h1>Welcome <%=@user_id%></h1>
<table>
    <tr>
        <th>Financial Account Name</th>
        <th>Financial Account ID</th>
    </tr>
    <% @credentials.each do |c| %>
    <tr>
        <td><%= link_to "#{c.institution_name}", c %></td>
        <td><%= c.institution_id%></td>
    </tr>
    <%end%>
</table>

<button id='linkButton'> Add New Financial Institution </button>
<%= link_to 'See Accounts', accounts_path %>
<%= link_to 'See Transactions', transactions_path %>
<%= link_to 'See Budgets', budgets_path %>
<a href='categories/budget_categories'>Monthly Budget Categories</a>
<a href='/categories/fund_categories'>Savings Fund Categories</a>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
async function get_token(){
    let x = await fetch('/create_link_token', {method: "post"})
    let data = await x.json()
    let linkHandler = Plaid.create({
    token: data.link_token,
    onSuccess: async function (public_token, metadata){
        // Send the public_token to your app server.
        const response = await fetch(`/exchange_public_token/${public_token}`, {
            method: "post"
        });
        return response
    }
    })
    linkHandler.open();
} 

document.getElementById('linkButton').onclick = function() {
    get_token()
};
</script>


</body>