<div id="<%= dom_id transaction %>">
  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Merchant:</strong>
    <%= transaction.merchant %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= transaction.description %>
  </p>

  <p>
    <strong>Pending:</strong>
    <%= transaction.pending %>
  </p>

  <p>
    <strong>Transaction:</strong>
    <%= transaction.transaction_id %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Authorized date:</strong>
    <%= transaction.authorized_date %>
  </p>

  <p>
    <strong>Budget Category:</strong>
    <%= transaction.group ?  transaction.group.name : 'None'  %>
  </p>

</div>
