<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<%= link_to "New cash transaction", new_transaction_path %>

<button id='txnButton'> Get Transactions </button>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script>
async function get_transactions(){
    const things = await fetch('/sync_transactions', {
        headers: {
            "content-type": "application/json"
        },
        method: "get"
    })
    console.log('got data!')
    const response = await things.json()
    console.log('converted!')
    console.log("response:", response)
} 

document.getElementById('txnButton').onclick = function() {
    get_transactions()
};
</script>

<%= link_to 'Home', root_path%>

<div id="transactions">
  <table>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Budget/Fund</th>
      <th>Merchant</th>
      <th>Account</th>
      <th>Institution</th>
    </tr>
      <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td><%= link_to "#{transaction.name}", transaction %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.category.split(', ')[1] if transaction.category %></td>
      <td><%= transaction.group_id ? transaction.group.name : 'None'%>
      <td><%= transaction.merchant %></td>
      <td><%= Account.find_by(account_id: transaction.account_id) ? Account.find_by(account_id: transaction.account_id).name : 'None' %></td>
      <td><%= Account.find_by(account_id: transaction.account_id) ? Account.find_by(account_id: transaction.account_id).institution_name : 'None' %></td>
    </tr>
    <% end %>
  </table>
</div>

<%== pagy_nav(@pagy) %>
