<div id="<%= dom_id account %>">
  <p>
    <strong>Account:</strong>
    <%= account.account_id %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= account.available %>
  </p>

  <p>
    <strong>Current:</strong>
    <%= account.current %>
  </p>

  <p>
    <strong>Limit:</strong>
    <%= account.limit %>
  </p>

  <p>
    <strong>Last four:</strong>
    <%= account.last_four %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Official name:</strong>
    <%= account.official_name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= account.account_type %>
  </p>

  <p>
    <strong>Subtype:</strong>
    <%= account.subtype %>
  </p>

  <table>
    <tr>
      <th>Txn Name</th>
      <th>Txn Amount</th>
      <th>Txn Date</th>
    </tr>
    <% account.transactions.each do |t|%>
    <tr>
      <td><%= t.name %></td>
      <td><%= t.amount %></td>
      <td><%= t.date.strftime("%m-%d-%Y") %></td>
    </tr>
    <%end%>
  </table>

</div>
