<%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.text_field :account_id %>
  </div>

  <div>
    <%= form.label :available, style: "display: block" %>
    <%= form.text_field :available %>
  </div>

  <div>
    <%= form.label :current, style: "display: block" %>
    <%= form.text_field :current %>
  </div>

  <div>
    <%= form.label :limit, style: "display: block" %>
    <%= form.text_field :limit %>
  </div>

  <div>
    <%= form.label :last_four, style: "display: block" %>
    <%= form.text_field :last_four %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :official_name, style: "display: block" %>
    <%= form.text_field :official_name %>
  </div>

  <div>
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type %>
  </div>

  <div>
    <%= form.label :subtype, style: "display: block" %>
    <%= form.text_field :subtype %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
