<p style="color: green"><%= notice %></p>

<h1>Accounts</h1>

<%= link_to "New cash account", new_account_path %>

<%= link_to 'Home', root_path%>

<div id="accounts">
  <table>
    <tr>
      <th>Name</th>
      <th>Available to spend</th>
      <th>Account Number</th>
      <th>Type</th>
    </tr>
    <% @accounts.each do |account| %>
    <tr>
      <td><%= link_to "#{account.name}", account %></td>
      <td><%= account.available %></td>
      <td><%= account.last_four %></td>
      <td><%= account.subtype %></td>
    </tr>
    <%end%>
  </table>
</div>


